<!-- Navbar -->
<nav class="navbar">
    <div class="sidebar">      
      <% if (user) { %>
        <p style="font-weight: bold; color: white;"><%= user.username %></p>
        <div class="nav-item">
          <i class="fas fa-brain"></i>
          <a href="/api/user/home">Practice DSA</a>
        </div>
        
        <div class="nav-item">
          <i class="fas fa-plus add-icon"></i>
          <a href="/blog/add-new">Add Blog</a>
        </div>
        
        <div class="nav-item">
          <i class="fas fa-list"></i>
          <a href="/api/user/sheets">Explore Sheets</a>
        </div>
        
        <div class="nav-item">
          <i class="fas fa-book-open"></i>
          <a href="/blog/show-blogs">See All Blogs</a>
        </div>
      <% } else { %>
        <a href="/api/user/signin">Sign In</a>
        <a href="/api/user/signup">Sign Up</a>
      <% } %>
    </div>
  </nav>
  
  <!-- Error Alert -->
  <% if (locals.error) { %>
    <div class="alert alert-error" role="alert">
      <%= locals.error %>
    </div>
  <% } %>
  